body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-btn {
    font-align: center;
    border: 2px solid black;
    margin-top: 10%;
    background-color: red;
    color: white;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

p {
    font-align: center;
}
